$typo3-color: #ff8700;

// Dark Theme
@media (prefers-color-scheme: dark) {
    $grey-light: #464646;
    $grey-replacement: #343434;
    $white-replacement: #151515;
    .scaffold-content, .module {
        background-color: $grey-replacement; // show dark background while loading everything
    }

    .module-body {
        background-color: $white-replacement;
        color: white;

        // style warnings
        .alert, .callout {
            background-color: $white-replacement;
            color: white;
        }

        .button {
            color: #ccc;

            &:hover {
                color: white;
            }
        }

        .icon-markup, .t3-page-ce-wrapper-new-ce .btn {
            color: white;
        }
    }

    .btn.btn-default {
        background: #292929;
        color: white;
    }

    .btn-link {
        color: $grey-light;

        &:hover {
            color: #fff;
        }
    }

    .t3-grid-cell {
        background-color: $grey-replacement;
    }

    .svg-toolbar,
    .scaffold-content-navigation-component .navigation-tree-container {
        background-color: $grey-replacement;

        .node-name {
            fill: white;
        }
    }

    .scaffold-content-navigation-switcher {
        background: $grey-replacement !important;
    }

    .t3-page-ce  {
        .t3-page-ce-footer, .t3-page-ce-header {
            background-color: $grey-replacement;
        }
    }

    .t3-page-column-header {
        background-color: $white-replacement;
    }

    .t3-page-ce-body-inner, .table td, .table th {
        background-color: $grey-light !important;
        color: white;

        a {
            color: white;
        }
    }

    .module-docheader {
        background-color: $grey-replacement;
        color: #ddd;

        .btn {
            background-color: $grey-replacement;
            color: white;
        }

        .form-select, .form-control {
            background-color: $grey-light;
            color: white;

            &::placeholder {
                color: #ccc;
            }
        }
    }

    .svg-tree-wrapper {
        .node-over:not(.node-selected), .node-selected {
            fill: $white-replacement;
            stroke: $white-replacement;
        }
    }

    #icon-apps-pagetree-root {
        path {
            fill: $typo3-color !important;
        }
    }

    .module-body {
        .alert, .callout {
            background-color: $white-replacement;
            color: white;

            a {
                color: #ddd;
            }
        }
    }

    /********************EDIT Content element*****************************/
    .form-section {
        background-color: $grey-light;
    }

    .nav-tabs {
        background-color: $grey-replacement;

        > li > a.nav-link {
            color: #ddd;

            .active {
                background-color: $grey-light;
                color: white;
                border-bottom-color: transparent;
            }
        }
    }

    .form-control, .form-select {
        background-color: #232323;
        color: #ddd;

        &:hover, &:focus, &:active {
            background-color: $white-replacement;
            color: white;
        }
    }

    /******* RTE ***********/
    .cke_top {
        background-color: #232323 !important;
    }

    .cke_wysiwyg_frame, .cke_wysiwyg_div {
        background-color: $white-replacement !important;
    }

    .cke_editable {
        color: #ddd !important;
    }

    /******* RTE-End *************/
}
