@media (prefers-color-scheme: dark) {
  .scaffold-content, .module {
    background-color: #343434;
  }
  .module-body {
    background-color: #151515;
    color: white;
  }
  .module-body .alert, .module-body .callout {
    background-color: #151515;
    color: white;
  }
  .module-body .button {
    color: #ccc;
  }
  .module-body .button:hover {
    color: white;
  }
  .module-body .icon-markup, .module-body .t3-page-ce-wrapper-new-ce .btn {
    color: white;
  }
  .btn.btn-default {
    background: #292929;
    color: white;
  }
  .btn-link {
    color: #464646;
  }
  .btn-link:hover {
    color: #fff;
  }
  .t3-grid-cell {
    background-color: #343434;
  }
  .svg-toolbar,
  .scaffold-content-navigation-component .navigation-tree-container {
    background-color: #343434;
  }
  .svg-toolbar .node-name,
  .scaffold-content-navigation-component .navigation-tree-container .node-name {
    fill: white;
  }
  .scaffold-content-navigation-switcher {
    background: #343434 !important;
  }
  .t3-page-ce .t3-page-ce-footer, .t3-page-ce .t3-page-ce-header {
    background-color: #343434;
  }
  .t3-page-column-header {
    background-color: #151515;
  }
  .t3-page-ce-body-inner, .table td, .table th {
    background-color: #464646 !important;
    color: white;
  }
  .t3-page-ce-body-inner a, .table td a, .table th a {
    color: white;
  }
  .module-docheader {
    background-color: #343434;
    color: #ddd;
  }
  .module-docheader .btn {
    background-color: #343434;
    color: white;
  }
  .module-docheader .form-select, .module-docheader .form-control {
    background-color: #464646;
    color: white;
  }
  .module-docheader .form-select::placeholder, .module-docheader .form-control::placeholder {
    color: #ccc;
  }
  .svg-tree-wrapper .node-over:not(.node-selected), .svg-tree-wrapper .node-selected {
    fill: #151515;
    stroke: #151515;
  }
  #icon-apps-pagetree-root path {
    fill: #ff8700 !important;
  }
  .module-body .alert, .module-body .callout {
    background-color: #151515;
    color: white;
  }
  .module-body .alert a, .module-body .callout a {
    color: #ddd;
  }
  /********************EDIT Content element*****************************/
  .form-section {
    background-color: #464646;
  }
  .nav-tabs {
    background-color: #343434;
  }
  .nav-tabs > li > a.nav-link {
    color: #ddd;
  }
  .nav-tabs > li > a.nav-link .active {
    background-color: #464646;
    color: white;
    border-bottom-color: transparent;
  }
  .form-control, .form-select {
    background-color: #232323;
    color: #ddd;
  }
  .form-control:hover, .form-control:focus, .form-control:active, .form-select:hover, .form-select:focus, .form-select:active {
    background-color: #151515;
    color: white;
  }
  /******* RTE ***********/
  .cke_top {
    background-color: #232323 !important;
  }
  .cke_wysiwyg_frame, .cke_wysiwyg_div {
    background-color: #151515 !important;
  }
  .cke_editable {
    color: #ddd !important;
  }
  /******* RTE-End *************/
}

/*# sourceMappingURL=Dark.css.map */
