.encbe {
    .scaffold-header {
        // change order of elements in topbar right
        .toolbar-list {
            display: flex;

            .toolbar-item-search {
                order: 1;
            }

            #typo3-cms-backend-backend-toolbaritems-shortcuttoolbaritem {
                order: 2;
            }

            #typo3-cms-backend-backend-toolbaritems-clearcachetoolbaritem {
                order: 3;
            }

            #typo3-cms-backend-backend-toolbaritems-helptoolbaritem {
                order: 4;
            }

            #typo3-cms-backend-backend-toolbaritems-systeminformationtoolbaritem {
                order: 5;
            }

            .toolbar-item-user {
                order: 6;
            }
        }
    }

    /** change toggle button position in sidebar **/
    .topbar-header {
        padding-left: 0;
    }

    .topbar-button {
        &.topbar-button-modulemenu {
            position: fixed;
            bottom: 0;
            top: auto;
            left: 0;
            z-index: 100000;
            background: #151515;
            width: 64px;
        }
    }
}

/*********************** Main Content ************************/
.module-body {

    // hide flags
    .t3js-flag {
        display: none;
    }

    // set headline in top bar of content element
    .t3-page-ce-body-inner .exampleContent {
        > strong:first-child {
            position: absolute;
            top: 8px;
            left: 40px;
            font-size: 14px;
            /** hide too long text in headline */
            height: 25px;
            overflow: hidden;
            margin-right: 120px;

            + br {
                display: none;
            }
        }
    }

    .t3-page-ce {
        .t3-page-ce-body {
            &-inner {
                table {
                    margin: -10px;
                    width: calc(100% + 20px);
                }

                .exampleContent > br:last-child {
                    display: none;
                }
            }
        }
    }

    .t3-page-ce-wrapper-new-ce {
        text-align: center;
    }
}
