$typo3-color: #ff8700;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.enbe *, .enbe .t3-page-ce-body {
    font-family: 'Inter';
}

.module-docheader, .tree-toolbar {
    .form-select, .form-control {
        border: 1px solid #ddd;
        font-size: 13px;
        width: 100%;
        padding: 8px 12px; 

        &:focus {
            box-shadow: inset 0 1px 2px rgba(0,0,0,.075),0 0 0 1px rgba($typo3-color, .25);
        }
    }

    .form-control {
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        background-color: transparent;
    }
}

.module-docheader {
    min-height: 84px;

    .form-select {
        min-width: 150px;
        cursor: pointer;
    }

    .module-docheader-bar:first-child {
        margin-top: 7px;
    }
}

.enbe {
    // Sidebar left
    .scaffold-modulemenu {
        z-index: 100;

        // change icon colors
        .modulemenu {
            margin-bottom: 45px;

            &-icon {
                svg {
                    > path:first-child,
                    rect:first-of-type,
                    g,
                    g > path {
                        fill: none !important;

                        &[fill='#fff'], &[fill='#FFF'], &[fill='#ffffff'], &[fill='#FFFFFF'],
                        &[fill='#fff'] > *, &[fill='#FFF'] > *, &[fill='#ffffff'] > *, &[fill='#FFFFFF'] > * {
                            fill: #fff !important;
                        }
                    }
                }
            }

            button.modulemenu-action {
                .modulemenu-icon {
                    display: none;
                }

                .modulemenu-name {
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-left: 0;
                }

                .modulemenu-indicator {
                    opacity: 0.3;
                }

                &:focus, &:active, &:hover {
                    .modulemenu-indicator {
                        opacity: 1;
                    }
                }
            }

            &-action {
                &-active, :hover {
                    background-color: transparent;

                    .modulemenu-name {
                        color: $typo3-color;
                    }

                    .modulemenu-icon {
                        svg {
                            > path:first-child,
                            rect:first-of-type,
                            g,
                            g > path {
                                fill: $typo3-color !important;

                                &[fill='#fff'], &[fill='#FFF'], &[fill='#ffffff'], &[fill='#FFFFFF'],
                                &[fill='#fff'] > *, &[fill='#FFF'] > *, &[fill='#ffffff'] > *, &[fill='#FFFFFF'] > * {
                                    fill: #fff !important;
                                }
                            }
                        }
                    }
                }
            }

            &-group {
                border-bottom: 1px solid rgba(255, 255, 255, 0.6);
                border-radius: 0;
                padding-bottom: 20px;
            }
        }
    }

    /*********************** Header ***************************/
    .toolbar-item-search-field {
        background-color: #151515;
        height: 40px;
    }

    #live-search-box {
        border-bottom: 1px solid #eaeaea;

        &:focus, &:active {
            border-bottom-color: white;
        }
    }

    /*********************** Page Tree ***************************/
    .svg-tree-loader {
        top: 83px;
        height: calc(100% - 83px);
    }
    .tree-toolbar {

        .svg-toolbar {
            &__menu {
                align-items: center;
                margin: 2px 0;
            }

            &__search {
                width: 100%;
            }

            &__submenu {
                margin-bottom: 5px;
                display: flex; justify-content: space-between;

                .svg-toolbar__menuitem {
                    padding: 8px;
                    transition: 0.4s all;

                    &:hover {
                        background-color: $typo3-color;
                        border-radius: 2px;
                    }
                }
            }
        }
    }

    .scaffold-content-navigation {
        position: relative;
        &-component {
            max-height: 50vh;
        }

        .content-tree {
            max-height: 50vh;
            position: absolute;
            top: 50vh;
        }

        &-switcher .scaffold-content-navigation-switcher-btn {
            padding: 8px;
            margin-top: 4px;

            &:hover, &:focus, &:active {
                background-color: $typo3-color;
                border: none;
            }
        }
    }


    /**
    Scrollbar Styling
     */

    body::-webkit-scrollbar {
        width: 15px; /* width of the entire scrollbar */
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 3px solid; /* creates padding around scroll thumb */
    }


    /* Works on Firefox */
    * {
        scrollbar-width: thin;
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 15px;
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 20px;
        border: 3px solid;
    }
}

/*********************** Main Content ************************/
.module-body {

    .t3js-title-inlineedit {
        margin-bottom: 0;
    }

    // change CE-Header color
    .t3-page-ce .t3-page-ce-header {
        background-color: transparent;
    }

    // set headline in top bar of content element
    .t3-page-ce-body-inner .exampleContent {
        img {
            margin: 5px 5px 5px 0;
        }

        .icon-markup img {
            margin: 0;
        }
    }

    // change content element borders
    .t3-page-ce {
        * {
            border: none;
            border-spacing: 10px 0;
        }

        &-dragitem {
            border: 1px dashed #777;

            &:hover {
                border-left: 1px solid #777;
            }
        }

        .t3-page-ce-body {
            margin-bottom: 0;
        }

        &-header, &-body {
            border: none;
        }

        &-footer {
            color: #777;
        }

        &:hover {
            .t3-page-ce-header, .t3-page-ce-body {
                box-shadow: none;
            }
        }
    }

    // change button appearance between content elements
    .t3-page-ce-wrapper-new-ce {
        margin-top: 10px;

        .btn {
            background: transparent;
            border: 1px solid #ccc;
            border-radius: 50%;
            height: 35px;
            width: 35px;
            font-size: 0; // hides text "Content"

            &:hover {
                background-color: $typo3-color;
                color: white;
                border-color: $typo3-color;
            }
        }
    }

    .callout {
        margin-top: 0;
    }

    // style warnings
    .alert, .callout {
        background-color: white;
        color: black;
        border: 1px ridge;

        .fa-circle {
            opacity: 1 !important;
        }
    }

    .alert {
        border-color: var(--bs-alert-bg);

        .fa-circle {
            &::before {
                color: var(--bs-alert-bg);
            }
        }
    }

    .callout {
        border-color: #6daae0;

        .fa-circle {
            &::before {
                color: #6daae0;
            }
        }
    }
}

.module-docheader-bar {
    .btn {
        padding: 6px 8px;
        height: 30px;
    }
}

/************* New Folder "Add Contentelement" ************/
.enbe {
    .t3-new-content-element-wizard-window {
        .panel {
            margin-bottom: 0;
        }

        .input-group {
            margin: 16px 0;

            &-addon {
                background: transparent;
                border: none;
                padding-left: 5px;
            }

            .t3js-contentWizard-search {
                border: none;
                border-bottom: 1px solid #dedede;
                box-shadow: none;
                background-color: transparent;
                max-width: 300px;
            }
        }

        .t3js-tabs {
            border-bottom-color: #dedede;
            margin: .75rem .75rem 0; // equals original padding
            padding: 0; // in this way, the border bottom gets some nice spacing
            justify-content: space-evenly;
        }

        .t3js-icon.icon-default-not-found {
            filter: saturate(0) brightness(2);
        }

        .t3js-tabmenu-item {
            .nav-link {
                border-bottom: 1px solid #dedede;
                &.active {
                    border: none;
                    color: $typo3-color;
                    border-bottom: 2px solid $typo3-color;
                    background-color: transparent;
                }

                &:hover {
                    background-color: transparent;
                    border-color: transparent;
                    border-bottom-color: $typo3-color;
                    color: $typo3-color;
                }
            }
        }

        .model-content {
            max-width: 750px;
        }

        .media-new-content-element-wizard {
            width: 25% !important;
            text-align: center;

            .media {
                display: block;
                margin: 0 auto;
                padding: 24px 16px !important;
                width: 100%;
                transition: all 0.3s;

                &:hover {
                    background-color: #dfdfdf;
                    text-decoration: none;
                }

                &-left, &-body {
                    text-align: center;
                }

                &-body {
                    font-size: 0;
                    margin-top: 12px;

                    strong {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
