@mixin topbar__enhanceSearchWidget {
    .toolbar-item-search-field {
        background-color: #151515;
        height: 40px;
    }

    #live-search-box {
        border-bottom: 1px solid #eaeaea;

        &:focus, &:active {
            border-bottom-color: white;
        }
    }
}
