@mixin contentElementWizard__enhancedUI {
    .t3-new-content-element-wizard-window {
        .model-content {
            max-width: 750px;
        }

        .media-new-content-element-wizard {
            width: calc(25% - 4px) !important;
            margin: 2px;
            text-align: center;
            position: relative;
            background-color: $typo3-grey--lighter;

            .media {
                display: block;
                margin: 0 auto;
                padding: 24px 16px !important;
                width: 100%;
                transition: all 0.3s;

                &:hover {
                    background-color: #dfdfdf;
                    text-decoration: none;
                }

                &-left, &-body {
                    text-align: center;
                }

                &-body {
                    font-size: 0;
                    margin-top: 12px;

                    strong {
                        font-size: 12px;
                    }
                }
            }

            /****** Custom Tooltip **************/
            .enba-tooltip {
                text-align: left;
                position: absolute;
                top: 8px;
                right: 8px;

                strong, br {
                    display: none;
                }
            }
        }
    }
}
