$icon-size--phosphor: 20px;

@mixin svg-color--black {
    filter: brightness(0) saturate(100%);
}

@mixin svg-color--white {
    filter: brightness(0) saturate(100%) invert(100%);
}

@mixin global__enhanceIcons {
    // Top bars
    .scaffold-header, .module-docheader-bar-buttons {
        .icon-size-small {
            width: $icon-size--phosphor;
            height: $icon-size--phosphor;
        }
    }

    .scaffold-header {
        svg {
            @include svg-color--white;
        }
    }

    .module-docheader-bar-buttons {
        .btn {
            display: flex;
            align-items: flex-end;

            .icon {
                margin-right: 4px;
            }
        }

        .icon-markup {
            img {
                @include svg-color--black;
            }
        }

        .dropdown-menu {
            img {
                @include svg-color--white;
            }
        }
    }

    // PageTree
    .tree-toolbar {
        .svg-toolbar {
            &__submenu {
                typo3-backend-icon {
                    font-size: 18px;
                }
            }
        }
    }

    // Content area
    .t3js-title-inlineedit {
        typo3-backend-icon {
            font-size: 20px;
        }
    }

    .t3-page-ce-body-inner .exampleContent {
        .icon-markup img {
            transform: scale(1.1);
        }
    }

    // Colored Icons in Buttons or dropdowns
    .dashboard-button {
        .icon svg {
            @include svg-color--white;
        }
    }

    .dropdown-menu {
        .icon {
            margin-right: 4px;

            svg, img, {
                @include svg-color--white;
            }
        }

        typo3-backend-icon {
            @include svg-color--white;
        }
    }
}
