.scaffold-content-navigation {
    position: relative;

    &-component {
        max-height: 50vh;
    }

    .content-tree {
        max-height: 50vh;
        position: absolute;
        top: 50vh;

        &__headline {
            padding: 16px;
            font-weight: 700;
            font-size: 16px;
        }
    }
}
