@font-face {
    font-family: 'Inter';
    src: url('../../Public/Static/Font/Inter-VariableFont.woff2?20230216') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$typo3-color: #ff8700;
$typo3-blue: #80bcf3;
$nice-grey: #e1e1e1; // only notice for nicoles further work
$grey--border: #777;
