@font-face {
    font-family: 'Inter Regular';
    src: url('../../Public/Static/Font/Inter-Regular.woff2?20230214') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Bold';
    src: url('../../Public/Static/Font/Inter-Bold.woff2?20230216') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$typo3-color: #ff8700;
