$content-tree-header-height: 43px;

.enba-contentNavigation {
    &__enabledContentTree {
        .scaffold-content-navigation {
            position: relative;
            transition: all 0.5s;
            background-color: $typo3-grey--lighter;

            .navigation-tree-container {
                padding-bottom: $content-tree-header-height;
            }

            &:not(.content-tree--collapsed):not(.content-tree--hidden) {
                .scaffold-content-navigation-component {
                    max-height: 50vh;
                    transition: all 0.5s;
                }
            }

            &.content-tree--collapsed {
                .content-tree {
                    max-height: $content-tree-header-height;

                    &__toggle {
                        transform: rotate(180deg);
                    }
                }
            }

            &.content-tree--hidden {
                .content-tree {
                    max-height: 0;
                    opacity: 0;
                    pointer-events: none;
                    overflow: hidden;
                }

                .navigation-tree-container {
                    padding-bottom: 0;
                }
            }

            .content-tree {
                height: 50vh;
                max-height: 50vh;
                position: absolute;
                bottom: 0;
                overflow: hidden;
                background-color: $typo3-grey--lighter;
                border-top: 1px solid $typo3-grey--border;
                width:100%;
                z-index: 10;
                transition: all 0.5s;

                &__data {
                    overflow-y: auto;
                    max-height: calc(50vh - #{$content-tree-header-height});
                    padding-top: 8px;

                    ul {
                        list-style-type: none;
                        padding-left: 24px;
                        margin-top: 4px;

                        &:first-child {
                            padding-left: 16px;
                            margin-left: 0;
                        }

                        .t3js-icon {
                            margin-right: 8px;
                            flex-shrink: 0;
                            position: relative;
                            z-index: 10;
                        }

                        ul {
                            li {
                                position: relative;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    z-index: 5;
                                    border-top: 1px solid #ccc;
                                    top: 8px;
                                    width: 24px;
                                    left: -16px;
                                }

                                &::before {
                                    content: '';
                                    position: absolute;
                                    z-index: 5;
                                    left: -16px;
                                    top: 0;
                                    border-left: 1px solid #ccc;
                                    height: 100%;
                                }
                            }
                        }
                    }

                    a {
                        display: flex;
                        position: relative;
                        padding-right: 36px;
                        padding-top: 2px;
                        padding-bottom: 2px;

                        &::after {
                            background-image: url("/typo3conf/ext/enhanced-backend/Resources/Public/Icons/Pencil.svg");
                            position: absolute;
                            right: 16px;
                            top: 0;
                            width: 16px;
                            height: 16px;
                            background-size: contain;
                            content: ' ';
                            opacity: 0;
                        }

                        &:hover {
                            &::after {
                                opacity: 1;
                            }
                        }
                    }
                }

                &__header {
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;
                    justify-content: space-between;
                    background-color: $typo3-grey;
                    padding: 8px 16px;
                    align-items: baseline;
                    cursor: pointer;
                }

                &__headline {
                    font-weight: 400;
                    font-size: 15px;
                    display: block;
                    margin-bottom: 0;
                }

                &__toggle {
                    font-size: 24px;
                }
            }
        }
    }
}


