.enba-settings {
    .form-group {
        margin-bottom: 8px;
        padding-bottom: 32px;
        border-bottom: 1px solid $typo3-grey--border;

        h3 {
            margin: 0;
            padding: 16px 0;
            display: block;
            width: 100%;
            cursor: pointer;
        }
    }

    .enba-uc__feature {
        display: flex;

        .feature__description {
            font-weight: normal;
        }

        .feature__title {
            font-weight: 600;
        }
    }

    .enba-uc {
        &__group-content {
            display: flex;
            padding-top: 8px;
        }

        &__group-description {
            flex-basis: 25%;
            max-width: 25%;
            padding-right: 48px;
        }

        &__featurelist {
            flex-basis: 75%;
            max-width: 75%;
        }
    }
}
