.enba-settings {
    .form-group {
        margin-bottom: 8px;
        border-bottom: 1px solid $typo3-grey--border;

        &:last-child {
            border-bottom: none;
        }
    }

    .enba-uc__feature {
        display: flex;
        padding: 6px 8px;

        &:hover {
            cursor: pointer;
            background-color: $typo3-grey--lighter;
        }

        .feature__description {
            font-weight: normal;
        }

        .feature__title {
            font-weight: 600;
        }
    }

    .enba-uc-group {
        transition: all 0.4s;

        * {
            transition: all 0.4s;
        }

        &__header {
            display: flex;
            align-items: center;
            cursor: pointer;

            h3 {
                margin: 0;
                padding: 16px 24px 16px 0;
                display: flex;
                align-items: center;
            }

            &-toggle {
                transform: rotate(270deg);
            }

            &-icon {
                display: inline-block;
                content: ' ';
                width: 20px;
                height: 20px;
                background-size: contain;
                margin-right: 8px;

                // TODO: add group icons to settings.yaml

                &[data-group-icon="global"] {
                    background-image: url("/typo3conf/ext/enhanced-backend/Resources/Public/Icons/GlobeHemisphereWest.svg");
                }

                &[data-group-icon="topbar"] {
                    background-image: url("/typo3conf/ext/enhanced-backend/Resources/Public/Icons/Sidebar.svg");
                    transform: rotate(90deg);
                }

                &[data-group-icon="sidebar"] {
                    background-image: url("/typo3conf/ext/enhanced-backend/Resources/Public/Icons/Sidebar.svg");
                }

                &[data-group-icon="pageTree"] {
                    background-image: url("/typo3conf/ext/enhanced-backend/Resources/Public/Icons/TreeStructure.svg");
                }

                &[data-group-icon="contentArea"] {
                    background-image: url("/typo3conf/ext/enhanced-backend/Resources/Public/Icons/Layout.svg");
                }

                &[data-group-icon="contentElementWizard"] {
                    background-image: url("/typo3conf/ext/enhanced-backend/Resources/Public/Icons/MagicWand.svg");
                }
            }
        }

        &__content {
            display: flex;
            padding-top: 8px;
            max-height: 1000px;
            overflow: hidden;
        }

        &__description {
            flex-basis: 25%;
            max-width: 25%;
            padding-right: 48px;
            padding-bottom: 32px;

            img {
                width: 300px;
                max-width: 100%;
            }
        }

        &__featurelist {
            flex-basis: 75%;
            max-width: 75%;
            padding-bottom: 32px;
        }

        &--collapsed {
            .enba-uc-group {
                &__header {
                    &-toggle {
                        transform: rotate(270deg) scaleX(-1);
                    }
                }

                &__content {
                    max-height: 0;
                    overflow: hidden;
                }
            }
        }
    }
}
