@font-face {
    font-family: 'Inter';
    src: url('../Static/Font/Inter-VariableFont.woff2?20230216') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


$typo3-color: #ff8700;
$typo3-blue: #80bcf3;
$typo3-grey: #eee;
$typo3-grey--lighter: #f5f5f5;
$typo3-grey--border: #c3c3c3;
$nice-grey: #e1e1e1; // only notice for further work
$grey--border: #777;
