@mixin svg-color--black {
    filter: brightness(0) saturate(100%);
}

@mixin svg-color--white {
    filter: brightness(0) saturate(100%) invert(100%);
}

@mixin svg-color--red {
    filter: invert(41%) sepia(10%) saturate(3226%) hue-rotate(313deg) brightness(90%) contrast(118%);
}

@mixin svg-color--green {
    filter: invert(57%) sepia(26%) saturate(783%) hue-rotate(46deg) brightness(98%) contrast(90%);
}

@mixin svg-color--orange {
    filter: invert(51%) sepia(97%) saturate(1621%) hue-rotate(360deg) brightness(102%) contrast(108%);
}

@mixin svg-color--grey {
    filter: invert(49%) sepia(1%) saturate(0%) hue-rotate(298deg) brightness(91%) contrast(88%);
}
