#user-setup-wrapper {
    label.user-theme {
        margin-top: 16px;

        input {
            display: none;
        }

        img {
            max-width: 100%;
        }

        p {
            margin-top: 15px;
        }

        .btn {
            border: 2px solid transparent;
        }

        :checked ~ .btn {
            border-color: $typo3-color;
        }
    }
}
