@mixin sidebar__collapseButtonPosition {
    .scaffold-modulemenu {
        z-index: 100;
        height: calc(100vh - 100px);
    }

    .topbar-header {
        padding-left: 0;
    }

    .topbar-button {
        height: 55px;

        &.topbar-button-modulemenu {
            position: fixed;
            bottom: 0;
            top: auto;
            left: 0;
            z-index: 100000;
            width: 64px;
            padding-right: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            .icon {
                transform: rotate(180deg);
            }
        }
    }

    .scaffold-modulemenu-expanded {
        .topbar-button {
            &.topbar-button-modulemenu {
                width: 240px;
                justify-content: flex-end;
                padding-right: 16px;

                .icon {
                    transform: rotate(0deg);
                }
            }
        }
    }
}
